@import "base/reset";
@import "base/typography.scss";

body {
  color: white;
}

.section {
  &__blank {
    height: 80vh;
    background-color: white;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 105vh;
  overflow-y: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, #00000000 100%) 0 0
      no-repeat;
    opacity: 0.7;
  }
}

.video {
  position: absolute;
  top: -5rem;
  width: 100%;
}

.header {
  position: absolute;
  z-index: 100;
  display: grid;
  width: 100%;
  padding: 3rem 5vw;
  column-gap: 5rem;

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;

  .logo {
    display: flex;
    align-self: center;
    height: 2.2rem;
    gap: 23px;

    grid-column: 1;
    grid-row: 1;
  }

  .search {
    position: relative;

    grid-column: 2;
    grid-row: 1;

    & input {
      width: 100%;
      padding: 1.9rem 2.2rem 1.3rem 5.5rem;
      font-size: 1.8rem;
      border-radius: 25px;
    }

    & img {
      position: absolute;
      top: 45%;
      left: 2.2rem;
      width: 2.1rem;
      height: 2.1rem;
      transform: translateY(-50%);
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 60px;

    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;

    &__auth {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      gap: 1rem;
      svg {
        width: 2.1rem;
        height: 2.1rem;
      }
    }

    &__icons {
      display: flex;
      gap: 17px;

      svg {
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }

  .offer {
    grid-column: 2;
    grid-row: 2;
    justify-self: flex-start;
  }

  .info {
    grid-column: 3;
    grid-row: 2;
    justify-self: flex-end;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3rem;

  .nav__link a {
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }
}

.hero__text {
  position: absolute;
  bottom: 20vh;
  left: 5vw;
  z-index: 100;
  max-width: 80rem;
  text-align: left;

  h2 {
    margin-bottom: 2rem;
    font-size: 7.6rem;
    line-height: 1.1;
  }

  p {
    margin-bottom: 3.7rem;
    font-size: 2.3rem;
  }

  button {
    padding: 2rem 5rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: black;
    background-color: white;
    border-radius: 8px;
  }
}

.footer {
  padding: 0 5vw;
  background-color: black;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 9rem 0;
    border-bottom: solid 0.5px rgba(38, 38, 38, 0.8);

    img {
      height: 2rem;
    }

    .nav__list {
      display: flex;
      font-weight: 600;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      gap: 130px;

      .nav__link a {
        cursor: pointer;
      }
    }
  }

  .stay-connected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11rem 0;
    gap: 90px;
    border-bottom: solid 0.5px rgba(38, 38, 38, 0.8);

    &__text {
      h4 {
        font-size: 3.6rem;
      }
      p {
        font-size: 1.8rem;
        color: #4a4949;
      }
    }

    &__form {
      position: relative;
      width: 70%;

      input {
        width: 100%;
        padding: 2rem 4rem;
        font-size: 1.8rem;
        color: #c4c4c4;
        background-color: #4a4949;
        border: none;
        border-radius: 35px;
      }

      .form__submit {
        position: absolute;
        top: 50%;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.4rem;
        height: 4.4rem;
        background-color: #777676;
        border: none;
        border-radius: 100px;
        transform: translateY(-50%);

        img {
          width: 2rem;

          // color: black;

          fill: black;
        }
      }
    }
  }

  &__companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    border-bottom: solid 0.5px rgba(38, 38, 38, 0.8);

    &__american,
    &__visa {
      height: 8rem;
      opacity: 0.9;
    }

    &__mastercard,
    &__fb,
    &__linkedin,
    &__yt,
    &__twitter,
    &__reddit {
      height: 5rem;
      opacity: 0.9;
    }
  }

  &__legal-links {
    display: flex;
    align-items: center;
    padding: 6rem 0;
    font-size: 1.8rem;
    color: #4a4949;
    gap: 6px;

    a {
      cursor: pointer;
    }
  }
}
