@import "abstracts/mixins";
@import "base/reset";
@import "base/typography.scss";

body {
  color: white;
}

.section {
  &__blank {
    height: 20vh;
    background-color: white;
  }
}

.video-container {
  position: relative;

  // width: 100%;
  height: 105vh;
  overflow: hidden;

  &::after {
    @include for-tablet-landscape {
      background: #8e0500 0 0 no-repeat padding-box;
      opacity: 0.73;

      mix-blend-mode: multiply;
    }
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, #00000000 100%) 0 0
      no-repeat;
    opacity: 0.7;
  }
}

.video--bath {
  position: absolute;
  top: -5rem;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

.video--presents {
  position: absolute;
  display: none;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

@include for-tablet-landscape {
  .video--bath {
    display: none;
  }
  .video--presents {
    display: block;
  }
}

.header {
  @include for-tablet-landscape {
    padding: 3rem 2vw;
    column-gap: 25px;

    grid-template-columns: 1fr 5fr 1fr;
  }

  @include for-phone-only {
    padding: 2.5rem 2rem;
    column-gap: 20px;

    grid-template-columns: 1.5fr 1fr;
  }
  position: absolute;
  z-index: 100;
  display: grid;
  width: 100%;
  padding: 3rem 5vw;
  column-gap: 50px;

  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;

  .logo {
    @include for-tablet-landscape {
      height: 1.8rem;
      gap: 13px;
    }

    //   @include for-tablet-portrait {
    //   height: ;
    // }
    display: flex;
    align-self: center;
    height: 2.2rem;
    gap: 23px;

    grid-column: 1;
    grid-row: 1;
  }

  .search {
    @include for-tablet-landscape {
      input {
        font-size: 1.6rem;
      }
    }

    @include for-phone-only {
      // width: 95%;
      // margin: 0 auto;
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    position: relative;

    grid-column: 2;
    grid-row: 1;

    & input {
      width: 100%;
      padding: 1.9rem 2.2rem 1.3rem 5.5rem;
      font-size: 1.8rem;
      border: none;
      border-radius: 25px;
    }

    & img {
      position: absolute;
      top: 45%;
      left: 2.2rem;
      width: 2.1rem;
      height: 2.1rem;
      transform: translateY(-50%);
    }
  }

  .actions {
    @include for-tablet-landscape {
      gap: 30px;
    }

    @include for-tablet-portrait {
      gap: 16px;
      span {
        display: none;
      }
    }

    @include for-phone-only {
      grid-column: 2;
    }
    display: flex;
    align-items: center;
    gap: 60px;

    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;

    &__auth {
      // @include for-tablet-landscape {
      //   span {
      //     // display: none;
      //   }
      // }
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      gap: 8px;
      svg {
        width: 2.1rem;
        height: 2.1rem;
      }
    }

    &__icons {
      display: flex;
      gap: 17px;

      svg {
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }

  .offer {
    @include for-tablet-portrait {
      display: none;
    }
    grid-column: 2;
    grid-row: 2;
    justify-self: flex-start;
  }

  .info {
    @include for-tablet-portrait {
      display: none;
    }
    grid-column: 3;
    grid-row: 2;
    justify-self: flex-end;
  }
}

.nav__list {
  @include for-tablet-landscape {
    gap: 15px;
  }
  display: flex;
  align-items: center;
  gap: 26px;
  .nav__link a {
    font-size: 1.8rem;
    color: white;
    text-wrap: nowrap;
    cursor: pointer;
  }
}

.hero__text {
  position: absolute;
  left: 5vw;
  z-index: 100;
  max-width: 80rem;
  text-align: left;
  h2 {
    margin-bottom: 2rem;
    font-size: 7.6rem;
    line-height: 1.1;
  }

  p {
    margin-bottom: 3.7rem;
    font-size: 2.3rem;
  }

  button {
    padding: 2rem 5rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: black;
    background-color: white;
    border: none;
    border-radius: 8px;
  }
}

.hero__text--presents {
  @include for-tablet-landscape {
    display: block;
  }

  @include for-phone-only {
    bottom: 20vh;
    left: 3rem;
    max-width: 80%;
  }
  bottom: 30vh;
  display: none;
  max-width: 50rem;

  h2 {
    margin-bottom: 2rem;
    font-size: 6rem;
    line-height: 1.1;
  }

  p {
    margin-bottom: 3.7rem;
    font-size: 1.8rem;
  }
}

.hero__text--bath {
  @include for-tablet-landscape {
    display: none;
  }
  bottom: 20vh;
  display: block;
  max-width: 80rem;
}

.section__sofa {
  position: relative;
  width: 100%;
  max-height: 120vh;
  margin-bottom: 20rem;
  background-image: url("../assets/sofa.webp");
  background-position: center center;
  background-size: cover;

  aspect-ratio: 3/2;

  &__content {
    position: absolute;
    top: 3vh;
    left: 4vw;
    h3 {
      margin-bottom: 1rem;
      font-size: 10rem;
    }
    button {
      padding: 2rem 5rem;
      font-weight: 600;
      font-size: 1.7rem;
      color: black;
      background-color: white;
      border: none;
      border-radius: 8px;
    }
  }
}

.section__partners {
  @include for-tablet-portrait {
    margin-bottom: 10rem;
  }
  margin-bottom: 20rem;
  padding: 0 5vw;
  color: #000000;
  &__title {
    @include for-tablet-portrait {
      font-size: 6rem;
    }
    max-width: 80rem;
    margin-bottom: 6rem;
    font-size: 10rem;
    line-height: 1;
  }

  &__examples {
    @include for-tablet-portrait {
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 30px;

      justify-items: center;
    }
    display: flex;
    gap: 40px;
    .partner-example {
      @include for-tablet-portrait {
        gap: 10px;
      }
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      &__img {
        @include for-tablet-landscape {
          height: 30rem;
        }

        @include for-tablet-portrait {
          width: 100%;
          height: auto;
          margin: 0 auto;
        }
        height: 45rem;

        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }

      p {
        font-size: 1.7;
      }

      &__link {
        display: flex;
        gap: 5px;
        a {
          font-weight: bold;
          font-size: 1.7rem;
          cursor: pointer;
        }
      }
    }

    .partner-example--1 {
      grid-column: 1;
    }
    .partner-example--2 {
      grid-column: 2;
    }
    .partner-example--3 {
      grid-column: 3;
    }
  }
}

.footer {
  @include for-phone-only {
    padding: 0 4rem;
  }
  padding: 0 5vw;
  background-color: black;
  &__nav {
    @include for-tablet-portrait {
      flex-direction: column;
      padding: 5rem 0;
      gap: 80px;
      .nav__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 23px;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 9rem 0;
    border-bottom: solid 0.5px rgba(38, 38, 38, 0.8);
    img {
      height: 2rem;
    }

    .nav__list {
      @include for-tablet-landscape {
        gap: 30px;
      }
      display: flex;
      font-weight: 600;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      gap: 80px;
      .nav__link a {
        cursor: pointer;
      }
    }
  }

  .stay-connected {
    @include for-tablet-landscape {
      flex-direction: column;
      align-items: center;
      padding: 4rem 0;
      gap: 2rem;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11rem 0;
    gap: 90px;
    border-bottom: solid 0.5px rgba(38, 38, 38, 0.8);
    &__text {
      h4 {
        font-size: 3.6rem;
      }
      p {
        font-size: 1.8rem;
        color: #4a4949;
      }
    }

    &__form {
      @include for-phone-only {
        width: 100%;
      }
      position: relative;
      width: 70%;
      input {
        width: 100%;
        padding: 2rem 4rem;
        font-size: 1.8rem;
        color: #c4c4c4;
        background-color: #4a4949;
        border: none;
        border-radius: 35px;
      }

      .form__submit {
        position: absolute;
        top: 50%;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.4rem;
        height: 4.4rem;
        background-color: #777676;
        border: none;
        border-radius: 100px;
        transform: translateY(-50%);

        img {
          width: 2rem;

          // color: black;

          fill: black;
        }
      }
    }
  }

  &__companies {
    @include for-tablet-portrait {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    border-bottom: solid 0.5px rgba(38, 38, 38, 0.8);
    &__american,
    &__visa {
      height: 10rem;
      opacity: 0.9;
    }

    &__mastercard {
      height: 7rem;
      opacity: 0.9;
    }

    &__fb,
    &__linkedin,
    &__yt,
    &__twitter,
    &__reddit {
      height: 5rem;
      opacity: 0.9;
    }
  }

  &__legal-links {
    @include for-tablet-landscape {
      flex-direction: column;
      padding: 4rem 0;

      // justify-content: center;
      text-align: center;

      span {
        display: none;
      }
    }
    display: flex;
    align-items: center;
    padding: 6rem 0;
    font-size: 1.8rem;
    color: #4a4949;
    gap: 6px;
    a {
      cursor: pointer;
    }
  }
}
